.main-background{
    /* min-height:4000px; */
    max-height: auto;
    width:1492px;
    padding: 20px 0px;
    background-color: #101111;
    overflow-x: hidden;
}


.main-background-one{
    /* border:1px solid #fff; */
    height:842px;
    width:1492px;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 80px;
    z-index: 9;
}

.main-background-nav{
    position:fixed;
    top:0;
    width:1492px;
    height:80px;
    box-sizing: border-box;
    text-align: center;
    z-index: 10;
    backdrop-filter: blur(6px);
    padding: 20px 0px;
}
.main-background-nav a{
    outline: 1.5px solid #fff;
    margin: 0px 12px;
    outline-style:dashed;
    border-radius: 3px;
}

.main-background-nav-button{
    height:40px;
    width:120px;
    background-color: #000;
    color: #fff;
    outline: none;
    border: 1px solid #fff;
    text-decoration: none;
    margin: 0px 30px;
    transition: all 0.3s ease;
    cursor: pointer;
    border-top:5px solid
}
.main-background-nav-button:active{
    background-color: #fff;
    color: #000;
}
.main-background-nav-button:hover{
    background-color: #fff;
    color: #000;
    border: #fff;
}

.main-background-line{
    height:3600px;
    width:2px;
    padding: 1px;
    position: absolute;
    top:300px;
    margin-left: -200px;
    background-color: #fff;
    /* z-index: 7; */
}
.main-word-animation-container{
    border-color: transparent;
    position: relative;
    animation: main-word-animation-container-animation 0.6s 0s;
    animation-iteration-count: infinite;
    box-sizing: border-box;
    padding: 0px 4px;
    left:105px;
    width: 400px;
    min-height: 60px;
    background-color: transparent;
    font-size: 14px;
}
@keyframes main-word-animation-container-animation {
    0%{border-left: 1px solid transparent;}
    100%{border-left: 1px solid #fff;}
}
.main-background-one-name{
    font-style: italic;
    position:absolute;
    align-self: flex-end;
    margin-left: 1150px;
    font-weight: 100;
}
.hidden{
    display: none;
    /* animation: hidden-animation 2s ease 0s; */
}

@keyframes hidden-animation {
    0%{opacity: 1}
    100%{opacity: 0}
}
.main-background-project-left{
    /* border:1px solid #fff; */
    height:842px;
    width:1492px;
    background-color: #101111;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0px 80px;
    animation: main-background-project-animation-left 1s ease-out 0s;
    /* z-index: 9px; */
    box-sizing: border-box;
    backdrop-filter: blur(12px);

}
@keyframes main-background-project-animation-left {
    0%{position: relative;left: -600px;}
    100%{position: relative; left: 0px;}
}
.main-background-project-right{
    /* border:1px solid #fff; */
    height:842px;
    width:1492px;
    background-color: #101111;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0px 80px;
    animation: main-background-project-animation-right 1s ease-out 0s;
    /* z-index: 9px; */
    box-sizing: border-box;
    backdrop-filter: blur(12px);

}
@keyframes main-background-project-animation-right {
    0%{position: relative;left: 600px;}
    100%{position: relative; left: 0px;}
}
.project-head{
    text-decoration: underline;
    font-weight: 500;
}
.project-desc{
    font-style: italic;
    line-height: 26px;
}
span{
    text-decoration: underline;
    font-style: normal;
}
a{
    font-size: 18px;
    margin: 0px 0px 30px 0px;
}
.project-technologies{
    font-style: italic;
}
.project-images{
    height:440px;
    max-width: 100%;
    padding: 20px;
}
.project-each-image{
    height:400px;
    border-radius: 12px;
    width:600px;
    border: 2px solid #fff;
    margin: 0px 12px;
}

.project-animation-left{
    position: relative;
    left:220px;
    text-align: center;
    width:420px;
}
.project-close-button{
    height: 40px;
    width: 120px;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    outline: none;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.2s ease;
}
.project-close-button:hover{
    width:122px;
    background-color: #fff;
    color: #000;
}
.animation-each-image-left{
    height:200px;
    border-radius: 12px;
    width:400px;
    /* border: 2px solid #fff; */
    margin: 0px 12px;
}

.project-animation-right{
    position: relative;
    left:650px;
    text-align: center;
    width:420px;
}
.animation-each-image-right{
    height:200px;
    border-radius: 12px;
    width:400px;
    /* border: 2px solid #fff; */
    margin: 0px 12px;
}

.main-background-about{
    height:700px;
    width: 500px;
    /* border: 1px solid #fff; */
    z-index: 10;
    padding: 12px 20px;
    box-sizing: border-box;
    position: absolute;
    margin-left:-800px;
    border-radius: 12px;
    color: #58e93b;
}


.aboutSection-container{
    height:842px;
    width:1492px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px 60px;
    line-height: 32px;
    text-align: center;
}

.resumeSection-container{
    height:842px;
    width:1492px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px 60px;
    line-height: 32px;
    text-align: center;
}
.resumeSection-resume{
    height:800px;
    width:600px;
    background-size: cover;
}


.certificateSection-container{
    height:842px;
    width:1492px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 60px;
    line-height: 32px;
    text-align: center;
}
.certificateSection-certificate{
    margin-top: 40px;
    height:800px;
    width:600px;
    border-radius: 12px;
    background-size:cover;
    /* transition: all 0.5s ease-out; */
}
/* .certificateSection-certificate:hover{
    width:600px
} */

footer{
    width:100%;
    text-align: center;
    margin-top:30px ;
    margin-bottom: 30px;
}
